%h1 Вход

= form_for @user_session, :url => login_path, :html => { :id => 'login' } do |f|
  = render_errors_for @user_session
  .field= f.text_field :email, :placeholder => 'Почта'
  .field= f.password_field :password, :placeholder => 'Пароль', :id => nil
  .field= f.submit "Войти"

