.menu-item{:class => dish.object.new_record? ? 'new-record' : nil}
  = link_to '', '#', :class => "ui-icon ui-icon-circle-close remove", :confirm => 'Вы уверены?'
  = dish.text_field :name, :class => 'name', :placeholder => 'Название'
  = dish.text_field :price, :class => 'price', :placeholder => 'Цена'
  = dish.text_field :weight, :class => 'weight', :placeholder => 'Вес'
  = dish.text_field :description, :class => 'description', :placeholder => 'Описание'
  = dish.collection_select :tag_ids, DishTag.all, :id, :name, {}, {:multiple => true, :class => 'jquery-multiselect'}

  - unless dish.object.new_record?
    = dish.hidden_field :_destroy, :class => 'mark-for-remove'
  .clr

