%h1 Create a new menu

= form_for @menu, :html => {:class => 'menu'} do |f|
  = render_errors_for @menu
  %p
    = f.label :date
    = f.date_select :date
  #bulk_menu_creation
    = label_tag :bulk, 'Bulk menu creation'
    = text_area_tag :bulk
  = f.fields_for :dishes do |dish|
    %hr
    %p
      = dish.label :name
      = dish.text_field :name, :class => 'name'

      = dish.label :price
      = dish.text_field :price, :class => 'price'

      = dish.label :weight
      = dish.text_field :weight, :class => 'weight'

      = dish.label :description
      = dish.text_field :description, :class => 'description'

    - unless dish.object.new_record?
      %p
        = dish.check_box :_destroy
        = dish.label :_destroy, 'Destroy?'
  %p= f.submit

