%h1 Create a new menu
= form_for @menu do |f|
  = render_errors_for @menu
  %p
    = f.label :date
    = f.text_field :date
  = f.fields_for :dishes do |dish|
    %hr
    %p
      = dish.label :name
      = dish.text_field :name
    %p
      = dish.label :price
      = dish.text_field :price
    %p
      = dish.label :weihgt
      = dish.text_field :weight
    %p
      = dish.label :description
      = dish.text_field :description
    - unless dish.object.new_record?
      %p
        = dish.check_box :_destroy
        = dish.label :_destroy, 'Destroy?'
  %p= f.submit

