%h1= "Транзакции пользователя #{@user}"

%table.defaults
  %thead
    %tr
      %th Дата
      %th Платеж
      %th Описание
      %th Действия
  %tbody
    - @payment_transactions.each do |transaction|
      %tr
        %td= transaction
        %td= transaction.value
        %td= transaction.description
        %td
          = link_to 'Изменить', edit_admin_user_payment_transaction_path(@user, transaction)
          = link_to 'Удалить', [:admin, @user, transaction], :confirm => 'Вы уверены?', :method => :delete

%br

= link_to 'Добавить транзакцию', new_admin_user_payment_transaction_path(@user), :class => 'button'

