%h1 Все метки

%ul#tag-list
  - @tags.each do |tag|
    %li
      = link_to edit_admin_dish_tag_path(tag), :class => ('inactive' unless tag.operational? ) do
        = tag
        %span.price= "(#{number_with_delimiter tag.value})".html_safe if tag.value != 0
        %span.description= tag.description
  %li.links
    = link_to 'Добавить новую метку', new_admin_dish_tag_path, :class => 'button'

