%h1=raw "Заказ на \"<span>#{@menu}</span>\""
%ul.order
  = form_for @order, :url => order_path(:date => @menu.date.to_s(:db)) do |f|
    = render_errors_for @order
    = f.fields_for :menu_items do |oi|
      %li
        = oi.hidden_field :dish_id
        = render_errors_for oi.object
        = oi.check_box :is_ordered, :class => 'order-item-select'
        = oi.label :is_ordered, "#{oi.object.dish.name} - <span class=\"price\">#{number_with_delimiter oi.object.dish.total_price}</span>".html_safe
        %span.quantity
          x&nbsp;
          = oi.text_field :quantity
        = render_tags oi.object.dish.tags
    %li.total
      Итого:
      %span= @order.price
    %li
      = submit_tag "Заказать"
      = link_to "Отменить заказ", order_path(:date => @menu.date.to_s(:db)), :class => 'button', :method => :delete unless @order.new_record?
  - if is_admin?
    %li.admin-links
      = render_menu_management_links

