%h1 New order
%ul.menu
  = form_for @order, :url => order_path(:date => '2011-12-12') do |f|
    = f.fields_for :menu_items do |oi|
      %li
        = oi.hidden_field :dish_id
        = render_errors_for oi.object
        = oi.check_box :is_ordered, :class => 'order-item-select'
        = oi.label :is_ordered, "#{oi.object.dish.name} - <span class=\"price\">#{number_with_delimiter oi.object.dish.price}</span>".html_safe
        %span.quantity
          x&nbsp;
          = oi.text_field :quantity
    = submit_tag

