%h1 Новое приглашение

= form_for @invitation, :html => { :id => 'invitation' } do |f|
  = render_errors_for @invitation
  = f.text_field :recipient_email, :placeholder => 'e-Mail получателя'
  = f.submit 'Выслать приглашение'
%hr

%h2 Отправленные приглашения

%table.defaults
  %thead
    %tr
      %th e-Mail
      %th Состояние
  %tbody
    - @invitations.each do |invitation|
      %tr
        %td= invitation.recipient_email
        %td= invitation_status_link(invitation)

