%h1 Список пользователей
%table.user-list.defaults
  %thead
    %tr
      %th Имя
      %th e-Mail
      %th Сумма заказов
      %th Внесено в кассу
      %th Баланс
  %tbody
    - @users.each do |user|
      %tr{:class => ('red' if user.balance < 0)}
        %td= user
        %td= user.email
        %td= link_to number_with_delimiter(user.orders_total), [:admin, user]
        %td= link_to number_with_delimiter(user.payment_transactions_total), admin_user_payment_transactions_path(user)
        %td.balance= number_with_delimiter user.balance
%hr
= link_to 'Пригласить пользователя', new_invitation_path, :class => 'button'

