%h1
  Заказы пользователя
  = @user
  =raw "(итого <span>#{number_with_delimiter @user.orders.total}</span>)"
%table.defaults
  %thead
    %tr
      %th Дата заказа
      %th Сумма
  - @orders.each do |order|
    %tr
      %td= order.menu
      %td= number_with_delimiter order.price

%hr
= link_to 'К списку пользователей', admin_users_path, :class => 'button'
= link_to 'Показать транзакции', admin_user_payment_transactions_path(@user), :class => 'button'

