%h1= @menu.new_record? ? 'Создание меню' : 'Редактирование меню'

= form_for [:admin, @menu], :html => {:class => 'menu'} do |f|
  = render_errors_for @menu

  .field
    = f.label :date, 'Дата '
    = f.date_select :date, :order => [:day, :month, :year]

  #bulk_menu_creation
    = text_area_tag :bulk, nil, :placeholder => 'Скопируйте сюда текст для создания меню ...'
    = button_to_function 'Распознать', "render_menu_items_from_string($('textarea#bulk').val());"

  #current-menu-items
    = f.fields_for :dishes do |dish|
      = render :partial => "dish", :object => dish

  #menu-item-for-cloning
    = fields_for 'menu[dishes_attributes][randomizer]', Dish.new do |dish|
      = render :partial => "dish", :object => dish

  .menu-item= link_to 'Добавить блюдо...', '#', :class => 'add-menu-item'

  = f.submit 'Сохранить меню'

